<!DOCTYPE html>
<html>
<head>
    <title>Тут написано, как называется вкладка в браузере</title>
    <link rel="stylesheet" href="static\css\style.css">
</head>
<body>
    background-color: —  Поможет поменять цвет фона.
    color: —  Это свойство  используется для того, чтобы задать цвет текста.
    text-decoration-color: —  Когда вы задаёте цвет для текса в color, цвет 
                              применяется и для оформления. Но если нужно, например, 
                              задать цвет подчёркиванию, используйте это свойство.
    border: — позволяет задать границы блоку.
    font-family: — задаст шрифт вашему тексту.
    font-size:  — задаст размер вашему тексту.
    <h1>Технологическая зависимость</h1>
    <p>Технологическая зависимость — это чрезмерное использование технологических устройств, таких как смартфоны, компьютеры и интернет.

        Она может приводить к негативным последствиям для психического здоровья, включая:
        
        стресс,
        
        тревогу,
        
        депрессию,
        
        нарушения сна,
        
        потерю навыков общения лицом к лицу.
        
        Если вы считаете, что у вас может быть технологическая зависимость,</p>
    <h2>А Вот пример того что происходи с человеком</h2>
             <ul>
                   <li>А человек начинает часто использовать гаджеты или чтото еще</li>
                   <li>А иза этого человек начинает становится в этом зависимым</li>
             </ul>
     <img src="static\img\wallpapersden.com_man-notebook-person_7680x4320-1-scaled.jpg" alt="Image 1">
</body>
</html>